{{#>deptva-formation-error}}
  <h3 class="usa-alert__heading">
    Error
  </h3>

  <p>
    {{message}}
  </p>

  <h3 class="usa-alert__heading">
    Error ID
  </h3>
  
  <pre>{{request_id}}</pre>

  <h3 class="usa-alert__heading">
    What you can do
  </h3>

  <p>
    If you feel you've entered your information correctly, call MyVA311 for help: {{{accessible-phone-number "1-844-698-2311"}}}. If you have hearing loss, call {{{accessible-phone-number "TTY: 711"}}}.
  </p>
{{/deptva-formation-error}}