<div class="usa-grid idme-signup-footer">
  <div class="usa">
    <h1>Verify Your Identity</h1>
    <p>We'll need to verify your identity so that you can securely access and manage your data.</p>
    <p>This one-time process will take <strong>5 - 10 minutes</strong> to complete</p>
    <a class="no-external-icon usa-button login-gov" href="<%  login_gov_login_link  %>"><img alt="Login.gov" src="/samlproxy/idp/img/login-gov-logo.svg" />Verify with Login.gov</a>
    <h4>Having trouble verifying your identity?</h4>
    <p><a href="https://staging.va.gov/sign-in-faq/">Get answers to Frequently Asked Questions</a></p>
    <p>
      Or call MyVA311 for help: <a href="tel:18446982311">1-844-698-2311</a>. If you have hearing loss, call TTY: 711
    </p>
    <p>We're here Monday &ndash; Friday, 8:00 a.m. &ndash; 8:00 p.m. (ET)</p>
  </div>
</div>
