<h2>Matching Error</h2>

<div class="usa-alert usa-alert-error" role="alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">
      We need to verify your identity before giving you access to your information
    </h3>

    <p>
      We're sorry. We can't match the information you provided with what we have in our Veteran records.
      We take your privacy seriously, and we're committed to protecting your information.
      You won't be able to access some VA tools until we match your information and verify your identity.
    </p>

    <h3 class="usa-alert-heading">
      Error ID
    </h3>
    
    <pre><% request_id %></pre>

    <h3 class="usa-alert-heading">
      What you can do
    </h3>

    <p>
      If you feel you've entered your information correctly, call MyVA311 for help: <%- my_va_333 -%>. If you have hearing loss, call  <%- hearing_loss_number -%>.
    </p>
  </div>
</div>

