<h2>VA Tools Not Working</h2>

<div class="usa-alert usa-alert-error" role="alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">
      Some VA.gov tools aren't working right now
    </h3>

    <p>
      We're sorry. Something went wrong on our end while looking up your account.
      You may not be able to connect to your VA records until we can figure out what's wrong.
    </p>

    <h3 class="usa-alert-heading">
      Error ID
    </h3>

    <pre><%- request_id -%></pre>

    <h3 class="usa-alert-heading">
      What you can do
    </h3>

    <p>
      You can try again later or submit a support ticket for help: <a href="https://www.va.gov/contact-us/">contact-us</a>.
    </p>
  </div>
</div>

