<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/core.css" />
    <title>Choose Login Provider</title>
  </head>
  <body class="saml-proxy">
    <div class="row">
      <div class="columns">
        <a href="/">
          <img class="va-header-logo" src="/img/logo-alt.png" />
        </a>
        <span class="sidelines">OR</span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
