<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/samlproxy/idp/core.css" />
    <link rel="shortcut icon" href="/samlproxy/idp/img/favicon.ico" />
    <title>Choose Login Provider</title>
  </head>
  <body>
    <div class="saml-proxy">
      <div class="logo-banner">
        <a href="/">
          <img class="va-header-logo" src="/samlproxy/idp/img/header-logo.png" />
        </a>
      </div>
      <div class="usa-grid">
        <hr />
      </div>
      <div>
        {{{body}}}
      </div>
    </div>
  </body>
</html>
