<ul>
  <li><a href="{{ id_me_login_link }}">id.me sign in</a></li>
  <li><a href="{{ dslogon_login_link }}">DSLogon</a></li>
  <li><a href="{{ mhv_login_link }}">My Healthy Vet</a></li>
</ul>
<hr />
<ul>
  <li><a href="{{ id_me_signup_link }}">id.me sign up</a></li>
</ul>
