<div class="usa-grid login-selection-header">
  <div class="columns">
    <h2 class="usa-heading">Sign in to VA.gov</h2>
    <p>Sign in using your preferred VA related account</p>
  </div>
</div>
<div class="usa-grid login-selection">
  <div class="usa-width-one-half">
    <a class="no-external-icon usa-button dslogon" href="{{ dslogon_login_link }}"><img alt="DS Logon" src="/samlproxy/idp/img/dslogon-icon.svg" />Sign in with DSLogon</a>
    <a class="no-external-icon usa-button mhv" href="{{ mhv_login_link }}"><img alt="My HealtheVet" src="/samlproxy/idp/img/mhv-icon.svg" />Sign in with My HealtheVet</a>
    <a class="no-external-icon usa-button idme-signin" href="{{ id_me_login_link }}"><img alt="ID.me" src="/samlproxy/idp/img/idme-icon-white.svg" />Sign in with ID.me</a>
  </div>
  <div class="usa-width-one-half login-help">
    <h4>Having trouble signing in?</h4>
    <p><a href="https://staging.va.gov/sign-in-faq/">Get answers to Frequently Asked Questions</a></p>
    <p>
      Or call MyVA311 for help: <a href="tel:18446982311">1-844-698-2311</a>. If you have hearing loss, call TTY: 711
    </p>
    <p>We're here Monday &ndash; Friday, 8:00 a.m. &ndash; 8:00 p.m. (ET)</p>
  </div>
  <span class="sidelines">OR</span>
  <div class="usa-grid idme-signup-footer">
    <div class="usa-width-one-half">
      <h4>Don't have these accounts?</h4>
      <a class="no-external-icon usa-button idme-signup" href="{{ id_me_signup_link }}"><img alt="ID.me" src="/samlproxy/idp/img/idme-icon-dark.svg" />Create an ID.me account</a>
      <p>Use your email, Google, or Facebook</p>
    </div>
  </div>
</div>
