<div class="usa-grid idme-signup-footer">
  <div class="usa-width-one-half">
    <h4>Verify Your Identity</h4>
    <p>If you don’t have a Premium <b>My HealtheVet</b> or Premium <b>DS Logon</b> account, we’ll help you verify your identity using <b>ID.me</b>—a trusted partner that provides the strongest identity verification system available to prevent fraud and identity theft.</p>
    <a class="no-external-icon usa-button idme-signin" href="{{ id_me_login_link }}"><img alt="ID.me" src="/samlproxy/idp/img/idme-icon-white.svg" />Sign in with ID.me</a>
    <span class="sidelines">OR</span>
    <a class="no-external-icon usa-button idme-signup" href="{{ id_me_signup_link }}"><img alt="ID.me" src="/samlproxy/idp/img/idme-icon-dark.svg" />Create an ID.me account</a>
    <p>Use your email, Google, or Facebook</p>
  </div>
  <div class="usa-width-one-half login-help">
    <h4>Having trouble verifying your identity?</h4>
    <p><a href="https://staging.va.gov/sign-in-faq/">Get answers to Frequently Asked Questions</a></p>
    <p>
      Or call MyVA311 for help: <a href="tel:18446982311">1-844-698-2311</a>. If you have hearing loss, call TTY: 711
    </p>
    <p>We're here Monday &ndash; Friday, 8:00 a.m. &ndash; 8:00 p.m. (ET)</p>
  </div>
</div>
