<div class="usa-grid idme-signup-footer">
  <div class="usa-width-one-half">
    <h4>Verify Your Identity</h4>
    <p>We take your privacy very seriously, and we're committed to protecting your information.</p>
    <p>You'll need to verify your identity before we can give you access.</p>
    <a class="no-external-icon usa-button idme-signup" href="{{ id_me_signup_link }}"><img alt="ID.me" src="/samlproxy/idp/img/idme-icon-dark.svg" />Create an ID.me account</a>
    <p>Use your email, Google, or Facebook</p>
  </div>
</div>
