<h2>Matching Error</h2>

{{#>deptva-formation-error}}
  <h3 class="usa-alert-heading">
    We need to verify your identity before giving you access to your information
  </h3>

  <p>
    We're sorry. We can't match the information you provided with what we have in our Veteran records.
    We take your privacy seriously, and we're committed to protecting your information.
    You won't be able to access some VA tools until we match your information and verify your identity.
  </p>

  <h3 class="usa-alert-heading">
    What you can do
  </h3>

  <p>
    If you feel you've entered your information correctly, call MyVA311 for help: {{{accessible-phone-number "1-844-698-2311"}}}. If you have hearing loss, call {{{accessible-phone-number "TTY: 711"}}}.
  </p>
{{/deptva-formation-error}}

