<h2>MyHealtheVet Tools Not Working</h2>

{{#>deptva-formation-error}}
  <h3 class="usa-alert-heading">
    Some VA.gov health tools aren't working right now
  </h3>

  <p>
    We're sorry. Something went wrong on our end while looking up your account. You may not be able to use some VA.gov health tools until we can figure out what's wrong.
  </p>

  <h3 class="usa-alert-heading">
    What you can do
  </h3>

  <p>
    You can try again later or call MyVA311 for help: 1-844-698-2311. If you have hearing loss, call TTY: 711.
  </p>
{{/deptva-formation-error}}

