<div class="usa-grid idme-signup-footer">
  <div class="usa-width-one-half">
    <h4>We could not identity your health records</h4>

    <p>Without a health record we arne't able to continue your login.</p>
  </div>
</div>


