{{#>deptva-formation-error}}
  <h3 class="usa-alert-heading">
    Error
  </h3>

  <p>
    Your request could not be processed.
  </p>

  <h3 class="usa-alert-heading">
    Error ID
  </h3>

  <pre>{{request_id}}</pre>

  <h3 class="usa-alert-heading">
    What you can do
  </h3>

  <p>
    You can try again later or submit a support ticket for help: <a href="https://developer.va.gov/support/contact-us">contact-us</a>.
  </p>
{{/deptva-formation-error}}

